@page "/search"
@*
    //Name: Zakariya Osman
    //Date: 2023-08-10
    //Program Description: ConcertEvent Displayer. Display all or Search by Artist or Genre.
    //Search Input: Artist Name or Genre
    //Output: Coresponding Concert Events
*@
@using ConcertEvents.Classes

<header>

    <h1>Search for Concerts</h1>
    <h5>Search for artist or by genre</h5>
    <br>

</header>

@*Button and Search box*@
<form method="get" @onsubmit="SearchConcerts">
    <input type="text" name="query" @bind="searchStatementt" placeholder="Enter Artist or Genre" />
    <button type="submit">Search</button>
</form>

@*Binding data to for output
    Only shows anything if searchResults are not empty
*@
@if (searchResults != null)
{
    <br>
    @if (searchResults.Count == 0)
    {
        <p class="noresults">No results found.</p>
    }
    else
    {
        <div class="grid-container">
            @foreach (var concert in searchResults)
            {
                <div class="concert-details">
                    <h2 class="Ticket">Ticket Cost: @concert.TicketCost</h2>
                    <p class="Genre">Genre: @concert.Genre</p>
                    <p class="artist">Artist: @concert.Artist</p>
                    <p class="Date">Date: @concert.Date</p>
                    <p class="Time">Time: @concert.Time</p>
                    <p class="Venue">Venue: @concert.Venue</p>
                    <p class="City">City: @concert.City</p>
                    <p class="Description">Description: @concert.Description</p>
                </div>
            }
        </div>
    }
}

@*Some Css for style*@
<style>
    header {
        color: white;
    }

    .concert-details {
        background-color: dimgrey;
        border-radius: 5px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        padding: 15px;
        margin: 10px;
        transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
        color: black;
    }

    .concert-details:hover {
        background-color: green;
        color: white;
        transform: translateY(-5px);
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    }

    body {
        background-color: black;
        font-family: Arial, sans-serif;
    }

    .top-row.px-4 {
        background-color: black;
    }

    .top-row.px-4 p {
        margin-left: 0px;
        color: white;
    }
    .noresults{
        color:white;
    }
</style>

@code {
    //creating and instance of ConcertModel to use methods and properties
    private ConcertModel concertModel = new ConcertModel();
    //empty searchStatement string to hold search query
    public string searchStatementt = "";
    public List<ConcertModel> searchResults;

    protected override void OnInitialized()
    {
        LoadConcertData();
    }

    public void LoadConcertData()
    {
        concertModel.CreateDatabase();
        concertModel.InsertDataFromSQLFile();
        concertModel.LoadConcerts();
    }

    public void SearchConcerts()
    {
        searchResults = concertModel.SearchConcerts(searchStatementt);
    }
}
